{% extends 'mobile/base.html' %}
{% load staticfiles %}

{% block nav-search %}<li class="active"><a href="{% url home %}">Search</a></li>{% endblock %}

{% block extrahead %}
<script language="JavaScript" type="text/javascript">
 
/* either create a new torrent record or redirect to the torrents info page
 * depending on which link the user clicked */
function submit_form (action, form_name) {
	var form = document.getElementsByName(form_name)[0]
	form.link_action.value = action ;
	form.submit() ;
}

</script>
{% endblock %}

{% block content %}
<form action="/" method="get">
	<input id="id_search_string" type="text" name="search_string" value="breaking bad" maxlength="50" />
	<p>
		<label for="id_category">Category:</label> <select name="category" id="id_category">
		<option value="ALL">All</option>
		<option value="APPLICATIONS">Applications</option>
		<option value="AUDIO">Audio</option>
		<option value="GAMES">Games</option>
		<option value="VIDEO">Video</option>
		<option value="OTHER">Other</option>
		</select>
	</p>
	<input id="search_button" type="submit" value="Search" />
</form>


{% if results %}
<table class="search_results">
	{% for result in results %}
	<tr>
		<td class="search_result_cell">
			<div class="search_result">
				<form name="torrent_form_{{ forloop.counter0 }}" id="torrent_form_{{ forloop.counter0 }}" action="{% url middleman %}" method="post">
					{% csrf_token %}
					{% include 'mobile/search_result.html' %}
					
					<input type="hidden" name="link_action" id="link_action"/>
					
					{% if user.is_authenticated %}
					<input type="button" value="Add to Queue" class="torrent_action" onclick="submit_form('create_torrent', 'torrent_form_{{ forloop.counter0 }}')"/>
					{% else %}
					<input type="button" value="Add to Queue" class="torrent_action" onclick="myFunction()"/>
					{% endif %}	
				</form>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>Your search returned no results.</p>
{% endif %}

{% if not user.is_authenticated %}
	<script>
		function myFunction()
		{
		alert("You must be signed in to add torrents to your queue!");
		}
	</script>
{% endif %}

<div id="dialog" title="Basic dialog" style="display:none">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>

{% endblock %}