{% load staticfiles %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

	<title>TPB Mobile</title>
</head>

<body {% block body_id %}{% endblock %}>
<div id="title">
	<h1>TPB Mobile</h1>
</div>	

<div id="navbar">
	<ul>
		<li><a href="{% url home %}" id="search">Search</a></li>
		<li><a href="{% url queue %}" id="queue">Queue</a></li>
		<li><a href="" id="settings">Settings</a></li>
	</ul>
</div>

{% if logged_in %}
	<p>Welcome, {{ username }}!</p>
	<a href='{% url logout %}'>Logout</a>
{% else %}
	<a href='{% url login %}'>Sign In</a>
{% endif %}

<div id="content">
{% block content %}
{% endblock %}
</div>

</body>

{% block afterbody %}
{% endblock %}

</html>