{% extends 'base.html' %}
{% load staticfiles %}

{% block nav-search %}<li class="active"><a href="{% url home %}">Search</a></li>{% endblock %}

{% block content %}
<form action="/" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Search" />
</form>

<table class="search_results">
	{% for result in results %}
	<tr>
		<td>
			<div class="search_result">
				<p><strong>Title:</strong> {{ result.title }}</p>
				<!-- <p>URL:   {{ result.url }}</p> -->
				<p><strong>Size:</strong>  {{ result.size }}</p>
				<p><strong>Seeds:</strong> {{ result.seeders }}</p>
				
				<form action="{% url create_torrent %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="title" id="id_title" value="{{ result.title }}"/>
					<input id="id_url" type="hidden" name="url" maxlength="200" value="{{ result.url }}"/>
					<input id="id_magnet_link" type="hidden" name="magnet_link" maxlength="200" value="{{ result.magnet_link }}"/>
					<input id="id_torrent_link" type="hidden" name="torrent_link" maxlength="200" value="{{ result.torrent_link }}"/>
					<input type="hidden" name="size" id="id_size" value="{{ result.size }}"/>
					<input type="hidden" name="seeders" id="id_seeders" value="{{ result.seeders }}"/>
					
					{% if request.user.is_authenticated %}
					<input type="submit" value="Add to Queue" class="submit_button"/>
					{% else %}
					<input type="button" value="Add to Queue" class="submit_button" onclick="myFunction()"/>
					{% endif %}
				</form>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

{% if not request.user.is_authenticated %}
	<script>
		function myFunction()
		{
		alert("You must be signed in to add torrents to your queue!");
		}
	</script>
{% endif %}

<div id="dialog" title="Basic dialog" style="display:none">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>

{% endblock %}