{% extends 'base.html' %}
{% load staticfiles %}

{% block nav-search %}<li class="active"><a href="{% url home %}">Search</a></li>{% endblock %}

{% block content %}
<form action="/" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Search" />
</form>

<table class="search_results">
	{% for result in results %}
	<tr>
		<td>
			<div class="search_result">
				<p>Title: {{ result.title }}</p>
				<!-- <p>URL:   {{ result.url }}</p> -->
				<p>Size:  {{ result.size }}</p>
				<p>Seeds: {{ result.seeders }}</p>
				
				<form action="{% url create_torrent %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="title" id="id_title" value="{{ result.title }}"/>
					<input id="id_url" type="hidden" name="url" maxlength="200" value="{{ result.url }}"/>
					<input id="id_magnet_link" type="hidden" name="magnet_link" maxlength="200" value="{{ result.magnet_link }}"/>
					<input id="id_torrent_link" type="hidden" name="torrent_link" maxlength="200" value="{{ result.torrent_link }}"/>
					<input type="hidden" name="size" id="id_size" value="{{ result.size }}"/>
					<input type="hidden" name="seeders" id="id_seeders" value="{{ result.seeders }}"/>
					
					<input type="submit" value="Add to Queue" />
				</form>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>



{% endblock %}